<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cricket</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet"/>

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if notice %>
  <div class="success callout" data-closable><%= notice %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>

  <div class="top-bar">
    <div class="top-bar-left">
         <h1 class="header-text">CRICKET</h1>
    </div>
          <!-- <%= image_tag("dart20.png", class: "float-center") %> -->
          <!-- <%= image_tag("dart-and-board", class: "board") %> -->
    <div class="top-bar-right">
      <% if current_user %>
        <button class="header-button">
          <%= link_to "Log Out", destroy_user_session_path, class: "button", method: "delete" %>
        </button>
        <% else %>
        <div class="signup">
          <button>
            <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          </button>
          <button>
            <%= link_to 'Log In', new_user_session_path, class: "button" %>
          </button>
        <% end %>
      </div>
      </div>
    </div>


<div class="title-bar">
  <% if current_user %>
    <div class="title-bar-left">
    <ul class="menu">
        <li><%= link_to "Profile", user_path(current_user)   %></li>
        <li><%= link_to "New Game", new_game_path  %></li>
        <li><%= link_to "Games", games_path  %></li>
        <li><%= link_to "Players", players_path %></li>
      </ul>
      <% end %>
    </div>

    <div class="title-bar-right">
      <% if current_user %>
      <%= current_user.player.name %>
    </div>
    <% end %>
  </div>

  <div id="app"></div>
    <%= yield %>

</body>
</html>
